.dockpropertybar {
  padding: 5px 8px;
  border-left: 1px solid var(--bs-dark);

  @media only screen and (min-width:480px) {
    min-width: 12%;
    width: 12%;
    max-width: 14%;
  }

  .properties {
    overflow: auto;
  }
  
  .header {
    font-size: 1em;
    border-bottom: 1px solid var(--bs-dark);
    width: 100%;
  }

  &.contracted {
    padding: 5px 3px;
    min-width: 28px;
    width: 28px;
  }
  
  &.contracted .btn {
    padding: 2px;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .col {
    padding-right: calc(var(--bs-gutter-x) * 0.1);
    padding-left: calc(var(--bs-gutter-x) * 0.1);
  }
  .form-label {
    padding-left: calc(var(--bs-gutter-x) * 0.1);
  }
  .form-control {
    padding: 0.3rem 0.3rem;
  }
}