.dockactionsbar {
  padding: 8px;
  border-right: 1px solid var(--bs-dark);
  overflow-y: auto;
  overflow-x: hidden;

  @media only screen and (min-width:480px) {
    min-width: 11% !important;
    max-width: 11% !important;
  }

  .actionsbar {
    width: 100%;
  }

  .btn {
      width: 100% !important;
      text-align: left;
  }  
}