.dockactionsbar {
  padding: 8px;
  border-right: 1px solid var(--bs-dark);
  min-width: 11% !important;
  max-width: 11% !important;
  overflow-y: auto;
  overflow-x: hidden;

  .actionsbar {
    width: 100%;
  }

  .btn {
      width: 100% !important;
      text-align: left;
  }  
}