.form-label {
    font-size: 0.8em;
    padding-top: calc(0.3rem + 1px);
    padding-bottom: calc(0.3rem + 1px);
}

.form-control {
    font-size: 0.8em;
    padding: 0.3rem 0.5rem;
    line-height: 1.2;
}

input[type=number].noarrow::-webkit-inner-spin-button,
input[type=number].noarrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    width: 0;
}