#newmodal {
    form {
        width: 100%;
    }
}

#samples {
    min-height: 25vb;

    .filters {
        max-height: 45vb;
        overflow-y: auto;

        .btn {
            width: 100%;
        }
    }

    .list {
        max-height: 45vb;
        overflow-y: auto;

        .card {
            width: 23%;
            height: 8rem;
            float: left;
            margin-right: 2%;
            margin-bottom: 10px;
        }    
    }
    #donate {
        width: 100%;
        height: 100%;
        margin-right: 0%;
        margin-bottom: 0;
    }
}