.node {
  min-width: 100px;
  border: 1px solid;
  border-color: var(--bs-gray-800);
  border-radius: 3px;
}

.node-header {
  width: 100%;
  padding: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background: var(--bs-body-bg);
  color: var(--bs-nav-link-color);
  font-size: 0.75rem;
  font-weight: 600;

  button, .node-header .form-select {
    font-size: 0.5rem;
    font-weight: 600;
    padding: 2px 4px;
    float: right;
  }
  
  .form-select {
    width: 40px;
    height: 18px;
    padding: 0px 4px;
    border-color: var(--bs-gray-dark) !important;

    background: var(--bs-dark-rgb);
    color: var(--bs-navbar-color);
    font-size: 0.75rem;
    text-align: center;
    float: right;
  }
}

.node-body {
  min-height: 60;
  width: 100%;
}

.node-error-msg {
  margin: 15px;
}