.node {
  min-width: 100px;
  border: 1px solid;
  border-color: var(--bs-gray-800);
  border-radius: 3px;
}

.node-header {
  padding: 3px;
  background: var(--bs-body-bg);
  color: var(--bs-nav-link-color);
  font-size: 0.75rem;
  font-weight: 600;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  button, .node-header .form-select {
    font-size: 0.5rem;
    font-weight: 600;
    padding: 2px 4px;
    float: right;
  }
  
  .form-select {
    background: var(--bs-dark-rgb);
    color: var(--bs-white-rgb);
    width: 35px;
    height: 18px;
  }
}

.node-body {
  min-height: 60;
  width: 100%;
}

.node-error-msg {
  margin: 15px;
}