.react-flow button {
  background-color: var(--bs-body-bg) !important;
  border-color: var(--bs-gray-dark) !important;
  color: var(--bs-body-color);
  fill:  var(--bs-body-color);
}

.node-body {
 background-color: var(--bs-secondary-bg); 
}

.react-flow__handle {
  width: 17px;
  height: 17px;
}

.react-flow__minimap {
  background-color: transparent !important;
}

.react-flow__handle-left {
  background-color: #ec6a9699;
  border-color: #f48fb1;
  border-radius: 5px !important;
  left: -7px;
}

.react-flow__handle-right {
  background-color: #009c8299;
  border-color: #0ceac5;
  border-radius: 5px !important;
  right: -7px;
}

.react-flow__handle-left .handle-title {
  position: relative;
  direction: rtl;
  right: 17px;
  bottom: 6px;
}

.react-flow__handle-right .handle-title {
  position: relative;
  left: 17px;
  bottom: 6px;
}

.reactflow-wrapper {
  height: 100%;
}

