// Bootstrap
$font-size-base:                          0.9rem !default;

$accordion-padding-y:                     0.3rem !default;
$accordion-padding-x:                     0.3rem !default;
$accordion-border-width:                  0;
$accordion-icon-width:                    0.6rem !default;
$accordion-icon-color-dark:               #f8f9fa !default;
$accordion-icon-active-color-dark:        #f8f9fa !default;
$accordion-button-focus-box-shadow:       0 0 0 0 !default;

$red:     #ec6a9699 !default;
$green:   #009c8299 !default;
// OpenCV-Flow