.react-flow__handle {
  width: 15px;
  height: 15px;
}

.react-flow__handle-left {
  background-color: #EC6A96;
  border-color: #f48fb1;
  left: -7px;
}

.react-flow__handle-right {
  background-color: #009C82;
  border-color: #0ceac5;
  right: -7px;
}

.reactflow-wrapper {
  height: 100%;
}

.minimap {
  width: 150px;
  height: 100px;
  border: 1px solid var(--bs-gray-300);
}