@import "./form.css";
@import "./node.css";
@import "./dockpropertybar.css";
@import "./dockactionsbar.css";
@import "./reactflow.css";

.wrapper,
html,
body,
#root,
#ide {
  height: 100%;
  margin: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

/*MenuBar*/
#menubar {
  padding: 2px;
}

#menubar {
    border-bottom: 1px solid var(--bs-gray-800);
}

/*DockWidgets*/
#dockwidgets {
  padding: 0;
}

/*StatusBar*/
#statusbar {
  padding-top: 2px;
  padding-bottom: 2px;
}

#statusbar .navbar-nav {
  width: 100%;
}

#statusbar a {
  font-size: 0.7rem;
  padding: 2px;
}