<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>OpenCV-Flow!</title>
    <style>
      .wrapper, html, body {
          height: 100%;
          margin: 0;
      }
      .wrapper {
          display: flex;
          flex-direction: column;
      }
    </style>
  </head>
  <body>
    <div id="root" class="wrapper"></div>
  </body>
  <script>
    window.electron.ipcRenderer.once('ipc-example', (arg) => {
      // eslint-disable-next-line no-console
      console.log(arg);
    });

    window.electron.ipcRenderer.myPing();
  </script>
</html>
