<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="./assets/imgs/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="OpenCV-Flow Online IDE" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-18861122-3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-18861122-3');
    </script>
    <title>OpenCV-Flow!</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" class="wrapper">
      <div style="text-align: center">
        <img
          src="./assets/imgs/startloader.gif"
          style="
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 250px;
          "
        />
        Loading...
      </div>
    </div>
  </body>
</html>
